<footer class="flex flex-col justify-start items-center bg-gray-300 h-[60px] w-[100%]">
  <div class="border-2 border-gray-300"></div>
  <!-- <p>abuzar ali</p> -->
  <div class="flex justify-center gap-6">
    <p>Abuzarali @2024</p>
    <p>Terms</p>
    <p>Policy</p>
  </div>
</footer>
