<% layout("layouts/boilerplate.ejs") -%>
<body>
  <div
    class="flex flex-col gap-10 justify-center items-center mx-auto mt-10 w-[70%]"
  >
    <h2 class="text-3xl font-semibold">Signup Form</h2>
    <div class="min-w-[500px]">
      <form method="post" action="/signup">
        <div class="flex flex-col gap-4">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            class="border-2 rounded-md px-8 py-2"
            placeholder="Enter username"
            required
          />
        </div>
        <div class="flex flex-col gap-4">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            class="border-2 rounded-md px-8 py-2"
            placeholder="Enter email"
            required
          />
        </div>
        <div class="flex flex-col gap-4">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="border-2 rounded-md px-8 py-2"
            placeholder="Enter password"
            required
          />
        </div>
        <div class="mt-4">
          <button class="bg-green-600 text-white rounded-lg py-2 px-4">
            Signup
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
